<suite name="Demo Suite" verbose="1" parallel="tests" thread-count="4">

    <test name="Chrome Test">
        <parameter name="target-browser" value="chrome"/>
        <classes>
            <class name="tests.testng.BasicGoogleTest">
                <parameter name="search-query" value="Clarusway"/>
                <methods>
                    <exclude name="assertGoogleLogoExists"/>
                </methods>
            </class>
            <class name="tests.testng.SoftAssertion"/>
        </classes>
    </test>
    <test name="Firefox Test">
        <parameter name="target-browser" value="firefox"/>
        <classes>
            <class name="tests.testng.BasicGoogleTest">
                <parameter name="search-query" value="Clarusway"/>
                <methods>
                    <exclude name="assertGoogleLogoExists"/>
                </methods>
            </class>
            <class name="tests.testng.SoftAssertion"/>
        </classes>
    </test>
    <test name="Edge Test">
        <parameter name="target-browser" value="edge"/>
        <classes>
            <class name="tests.testng.BasicGoogleTest">
                <parameter name="search-query" value="Clarusway"/>
                <methods>
                    <exclude name="assertGoogleLogoExists"/>
                </methods>
            </class>
            <class name="tests.testng.SoftAssertion"/>
        </classes>
    </test>
    <!--    <test name="Safari Test">-->
    <!--        <parameter name="target-browser" value="safari"/>-->
    <!--        <classes>-->
    <!--            <class name="tests.testng.BasicGoogleTests">-->
    <!--                <parameter name="search-query" value="Clarusway"/>-->
    <!--                <methods>-->
    <!--                    <exclude name="assertGoogleLogoExists"/>-->
    <!--                </methods>-->
    <!--            </class>-->
    <!--            <class name="tests.testng.SoftAssertionsTests"/>-->
    <!--        </classes>-->
    <!--    </test>-->
</suite>